<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frankstiles.easyjournal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpWithGoogle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddJournal"
            android:label="@string/add_activity" />
        <activity
            android:name=".EditJournal"
            android:label="@string/edit_activity"
            android:parentActivityName=".JournalEntries"/>
        <activity
            android:name=".JournalEntries"
            android:label="@string/journal_entries"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ViewDetails"
            android:label="@string/details_activity"
            android:parentActivityName=".JournalEntries"/>
        <activity android:name=".rvJournalItemEntry" />
        <activity android:name=".SignUp"></activity>
    </application>

</manifest>